<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {{ style('style') }}

        {{-- adding extra styling for the css --}}
        @!section('extracss')

        <title>
            @!section('title')
        </title>
    </head>
    <body>
        <header>
            <a href="/">  </a>
        </header>
        <nav>
            <ul>
                <li href="/">Jobs</li>
                <li href="/login">Login</li>
                <li href="/signup">Sign up</li>
            </ul>
        </nav>
    </body>
</html>
